// -------
// Screen
// -------

$screen-xs-min: 420px;
$screen-sm-min: 720px;
$screen-md-min: 990px;
$screen-lg-min: 1024px;
$screen-xl-min: 1400px;

$screen-xs-max: 421px;
$screen-sm-max: 721px;
$screen-md-max: 991px;
$screen-lg-max: 1025px;
$screen-xl-max: 1401px;

// -------
// Colors
// -------

$bg-primary: #f9fef8;

$brand-primary: #669A4D;

$brand-secondary: #eef7eb;

$brand-terciary: #76E920;

$color-black: #000;
$color-white: #FFF;

$gray-darkest: #504d4d;
$gray-darker: #6f6f6f;
$gray-dark: #7d7d7d;
$gray: #9f9f9f;
$gray-light: #d4d4d4;
$gray-lighter: #f6f5f5;

// -------
// Font Weight
// -------

$font-family-base: "Open Sans", sans-serif;
$font-family-head: "Playfair Display", serif;

// -------
// Font Weight
// -------

$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// -------
// Spacing
// -------

$min-inline-space-gutter: 6px;
$halfGutter: 15px;
$grid-gutter: 30px;

// -------
// Font Sizes
// -------

$font-size-base: 1rem;
$line-height-base: 1.25; // 20/16
$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$font-size-icon-base: (0.9375*$font-size-base); // 15px
$font-size-list-base: (1.76*$font-size-base); // 27px

$font-size-largest:       (($font-size-base * 1.325)) !default;  	// 21px
$font-size-large:         (($font-size-base * 1.125)) !default; 	// 18px
$font-size-small:         (($font-size-base * 0.875)) !default; 	// 14px
$font-size-directory:     (($font-size-base * 0.8125)) !default;    // 13px;
$font-size-smaller:       (($font-size-base * 0.75)) !default; 	// 12px

$fs-title-huge: ceil(($font-size-base * 4));   // 64px
$fs-title-xl: ceil(($font-size-base * 3.2));   // 52px
$fs-title-md: ceil(($font-size-base * 2.5));;  // 40px
$font-size-h1: (($font-size-base * 2.25)) !default; // ~36px
$font-size-h2: (($font-size-base * 1.875)) !default; // ~30px
$font-size-h3: (($font-size-base * 1.5)) !default; // ~24px
$font-size-h4: (($font-size-base * 1.125)) !default; // ~18px
$font-size-h5: $font-size-base !default;
$font-size-h6: (($font-size-base * 0.875)) !default; // ~14px